
body{
  font-size: 16px;
  font-family:'Oxygen', sans-serif;
}
/** HEADER **/
 #header-nav {
 	background-color: #808080;
 	border-radius: 0;
 	border: 0;
}

 .navbar-brand {
 	padding-top: 25px;
 }

 

 .navbar-brand h1 { /* Resturant name */
 	font-family: 'Lora', serif;
 	color: #000000;
 	font-size: 1.5em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
 	margin-top: 0;
 	margin-bottom: 0;
 	line-height: .75;
 }

   	

    
     /* END HEADER */
    
     
     .container h2 { /* Resturant name */
  font-family: 'Lora', serif;
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
 }

  #container  {
  color: #000000;
        top: 0;
        right: 0;
        width: 80%;
        height: 50%;
        font-size: 1.6em;
        background-color: #808080;
        background-position: center;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        
        
 }

  #main-content h2 {
    color: #000000;
  }

  #main-head span {
    font-size:1.1em;
    color: #000000;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
  }

#p1{
    
      
      top: 0;
      width: 80px;
      height: 30px;
      border: 2px solid black;

    }

    
@media (max-width: 767px) {
  #nav-list {
      margin-top: 10px;
    }
    #nav-list a {
      color: #000000;
      text-align: center;
    }

    #nav-list a:hover {
      background: #E7E7E7;
  }
  #nav-list a span {
    }
    .menu1 {
  border: 1px solid #000000;
  color: #000000;
 }

 .menu2 {
  border: 1px solid #000000;
 }

 .menu3 {
  border: 1px solid #000000;
 }
 .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
      border: 2px solid #000000;
     }

     .navbar-header button.navbar-toggle {
      clear: both;
      margin-top: -30px;
     }
     .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }


}